<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/resources/Black Lion Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&style=filled">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/landing.css">
    <title>My Profile</title>
  </head>
  
  <body>
    <!-- Header Start -->
    <header class="header">
      <div class="menu">
        <span class="material-icons" onclick="toggleSidebar()">menu</span>
        <div class="material-icons"><img src="/resources/logo_lg.svg"></div>
      </div>
      <div class="header-right" style="padding-right:25px;">
        <% if (user != null) { %>
          <p style="display: inline-block;"><%= user.first_name.charAt(0).toUpperCase() + user.first_name.slice(1) %></p>
          <a href="#" onclick="toggleMenu()" style="display: inline-block; text-decoration: none; cursor: pointer;">
            <span class="material-icons">account_circle</span>
          </a>
          <div id="context-menu" class="context-menu">
            <ul>
              <li><a href="/profile">Profile</a></li>
              <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
            </ul>
          </div>
        <% } else {%>
          <p style="display: inline-block;">Sign In</p>
          <a href="#" onclick="document.getElementById('logout-form').submit();" style="display: inline-block; text-decoration: none; cursor: pointer;">
            <span class="material-icons">account_circle</span>
          </a>      
        <% }%>
        <form id="logout-form" action="/logout?_method=DELETE" method="POST" style="display: none;"></form>
      </div>
    </header>
    <!-- Header End -->

    <!-- Body Start -->
    <main class="main-container" id="main_container">
      <div class="content-with-bg2">
        <div class="login-form">
          <h1>User Profile</h1>
          <% if (message) { %>
            <p style="color: red;"><%= message %></p>
          <% } %>
          <form class="login-form-inner" action="/profile?_method=PUT" id="Edit-Profile-Form" method="POST">
            <label for="first_name">First Name:</label>
            <input class="form-control-profile" type="text" id="first_name" name="first_name" value="<%= user.first_name %>" disabled><br>
            
            <label for="last_name">Last Name:</label>
            <input class="form-control-profile" type="text" id="last_name" name="last_name" value="<%= user.last_name %>" disabled><br>
            
            <label for="email">Email:</label>
            <input class="form-control-profile" type="email" id="email" name="email" value="<%= user.email %>" disabled><br>

            <label for="phone">Phone:</label>
            <input class="form-control-profile" type="tel" id="phone" name="phone" value="<%= user.phone %>" disabled><br>

            <label for="dob">Date Of Birth:</label>
            <input class="form-control-profile" type="text" id="dateOfBirth" name="dateOfBirth" value="<%= user.dob.toDateString() %>" disabled><br>

            <label for="username">Username:</label>
            <input class="form-control-profile" type="text" id="username" name="username" value="<%= user.username %>" disabled><br>
            
            <label for="password">New Password:</label>
            <input class="form-control-profile" type="password" id="password" name="password" placeholder="Enter new password (optional)" disabled><br>
            
            <div id="saveButton" class="card-buttons" style="visibility: hidden;">
              <a href="#" onclick="document.getElementById('Edit-Profile-Form').submit();">
                <span class="material-icons">save</span> SAVE CHANGES
              </a>
            </div>
          </form>
          <p style="visibility: hidden;">Black Lion Group excels in the event planning industry by combining creativity with meticulous attention to detail. Unlike other event planning companies, Black Lion Group offers personalized services tailored to the unique needs and visions of each client. Their expertise in coordinating various types of events ensures that every aspect, from logistics to aesthetics, is handled flawlessly.</p>
          <div class="card-buttons">
            <a href="#" onclick="toggleProfileEditInputs()">
              <span class="material-icons">edit</span> EDIT PROFILE
            </a>
          </div>
        </div>
      </div>
    </main>
    <!-- Body End -->

    <!-- Nav Start -->
    <nav class="sidebar" id="sidebar">
      <ul class="list">
        <li class="list-item">
          <a href="/">
            <span class="material-symbols-rounded">home</span> HOME
          </a>
        </li><br>
        <li class="list-item">
          <a href="/my_events">
            <span class="material-symbols-rounded">upcoming</span> MY EVENTS
          </a>
        </li><br>
        <li class="list-item">
          <a href="/event">
            <span class="material-symbols-rounded">event</span> PLANNING
          </a>
        </li><br>
      </ul>
    </nav>
    <!-- Nav End -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/camera.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/table.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/world_clock.js"></script>
    <script src="/js/contextMenu.js"></script>
  </body>
</html>